# --- Database ---
DATABASE_URL="postgresql://loupgarou:loupgarou@localhost:5432/loupgarou?schema=public"

# --- Server ---
SERVER_PORT=4000
ADMIN_SECRET="Loupdbsi"
CORS_ORIGIN="http://localhost:3000"

# --- Web ---
NEXT_PUBLIC_SERVER_URL="http://localhost:4000"
